.part1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap:20px;
}

.part2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap:20px;
}

.part3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap:20px;
}